* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Imprima';
  color: black;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.section {
  height: 580px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section a {
  color: #10A5F5;
  margin-top: 15px;
  font-size: 20px;
  z-index: 9999;
}

h1 {
  font-size: 90px;
  z-index: 10;
}

h2 {
  font-size: 28px;
  font-weight: lighter;
}

.left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 24px;
  font-weight: lighter;
}

/*
header
*/

header {
  display: flex;
  justify-content: center;
  background-color: black;
  position: fixed;
  width: 100%;
}

header ul {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 24%;
  font-size: 14px;
  padding: 10px;
}

.header-logo {
  height: 20px;
  width: auto;
}

header a {
  transition: 500ms;
  color: white;
}

header a:hover {
  color: white;
}


/*
footer
*/

footer {
  width: 100%;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  background-color: black;
  font-size: 14px;
  padding: 10px;
  color: white;
}

.footer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.links {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0;
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.links a {
  color: #141414;
  line-height: 30px;
  font-size: 12px;
}

.links a:hover {
  text-decoration: underline;
  color: black;
}

.links span {
  font-weight: bold;
}

.footer-text {
  font-size: 12px;
  color: #141414;
  line-height: 20px;
}

footer .links .najbliza-trgovina {
  margin-top: 300px;
  color: #10A5F5;
}

footer .links .najbliza-trgovina a:hover {
  text-decoration: underline;
  color: #10A5F5;
}

.footer-txt {
  margin: 0;
  font-size: 14px;
}



/*
portfolio
*/

/*
hello
*/

.hello {
  height: 90vh;
  display: flex;
  align-items: center;
}

.hello-img {
  width: 50%;
}
.text-outline {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.check {/*
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 32px;*/
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  padding: 22px 0;
  font-size: 24px;
  color: white;
}

/*
Skills
*/

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill-1,
.skill-2,
.skill-3,
.skill-4 {
  display: flex;
  align-items: center;
  height: 500px;
  width: 60%;
  line-height: 35px;
}

.skills-img, .skills-txt {
  width: 100%;
  height: 500px;
}

.button {
  padding: 10px 15px;
  border: 1px black solid;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 20px;
}

.skills-img {
  background-image: url(img/color.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.skills-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}

.blank {
  height: 500px;
  width: 33%;
  background-color: #CCCCCC;
}
